@import "variables";
@import "vendor/bootstrap/bootstrap/variables";

.career-matrix-table-wrapper {
  max-height: 800px;
  overflow-y: scroll;
}

.career-matrix-table {
  th {
    background: $color-gray-extra-light-alt;
    box-shadow: 0 0 0 1px $table-border-color;

    &.top-sticky {
      top: 1px;
      position: sticky;
    }

    &:first-child {
      /* hack to make the first header column sticky despite `position: sticky` */
      left: 0;
      z-index: inherit;
    }
  }
}
