.col-md-10.col-md-offset-1.u-margin-top-sm.text-center
  %h2.u-text-brand Sponsors
  .row.u-margin-top-md.u-margin-bottom-md
    .col-md-12
      = partial "/includes/events/commit/sponsor-logos-transparent", locals: { logos_data: data.sponsors, title: "Our Honored Sponsors", link_text: "sponsors", link_url: "#" }
    .col-md-12
      = partial "/includes/events/commit/sponsor-logos-transparent", locals: { logos_data: data.sponsors_media_partners, title: "Media Partners", link_text: "sponsors", link_url: "#" }
      %h5
        Please email us at
        %a{ href: "mailto:commit@gitlab.com" }commit@gitlab.com
        to receive a sponsorship prospectus.